.accesorios {
    background-color: rgba(254, 208, 193, 1);
    display: flex;
    padding: 2rem 2rem 2rem 2rem;
    justify-content: space-around;
}
@media screen and (max-width: 1024px){
    .accesorios{
        flex-wrap: wrap;
    }
  }
@media screen and (max-width: 720px){
    .accesorios{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
  }