.rodapie{
    align-items: center;
    background-color: rgba(211, 115, 226, 0.38);
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1024px){
  .rodapie {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 720px){
    .rodapie {
      display: flex;
      flex-direction: column;
    }
  }